#article-container
  if top_img === false
    h1.page-title= page.title

  .friends 
    if site.data.friends
      each i in site.data.friends
        if i.class_name
          h2!= i.class_name
        if i.class_desc
          .friends-desc!=i.class_desc
        .friends-list
          each item in i.link_list
            .friends-list-item
              a(href=url_for(item.link)  title=item.name target="_blank")
                if theme.lazyload.enable
                  img(data-lazy-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.friends) + `'` alt=item.name )
                else
                  img(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.friends) + `'` alt=item.name )
                span.friends-item-name= item.name 
                span.friends-item-desc(title=item.descr)= item.descr
    != page.content

