#article-container
  if top_img === false
    h1.page-title= page.title

  .sitenav
    if site.data.sitenav
      each i in site.data.sitenav
        if i.class_name
          h2!= i.class_name
        if i.class_desc
          .sitenav-desc!=i.class_desc
        .sitenav-list
          each item in i.link_list
            .sitenav-list-item
              a(href=url_for(item.link)  title=item.name target="_blank")
                if theme.lazyload.enable
                  img(data-lazy-src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.sitenav) + `'` alt=item.name )
                else
                  img(src=url_for(item.avatar) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.sitenav) + `'` alt=item.name )
                span.sitenav-item-name= item.name 
                span.sitenav-item-desc(title=item.descr)= item.descr
    != page.content

